/* Hide the Shorts button in the Sidebar */
body.my-youtube-focus-hide-shorts ytd-guide-entry-renderer a[title="Shorts"] {
    display: none !important;
}

/* Hide the Shorts shelf on the Home feed */
body.my-youtube-focus-hide-shorts ytd-rich-shelf-renderer[is-shorts] {
    display: none !important;
}

/* Hide the Shorts video player interface if you accidentally click a link */
body.my-youtube-focus-hide-shorts ytd-shorts {
    display: none !important;
}